.admin-layout {
    height: 100vh;
    display: flex;
    flex-flow: column;

    .flex-box {
        display: flex;
        flex: 0;
        height: 100vh;

        .content {
            // height: 100vh;
            flex: 1;
            overflow-y: auto;
        }

        .footer {
            flex-shrink: 0;
        }
    }
}