.admin-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    // ヘッダーを固定化するならコメント解除
    // .header {
    //     position: sticky;
    //     top: 0;
    // }

    .layout-flex-box {
        display: flex;
        flex: 1;

        .sidebar {
            min-width: 180px;
            width: 220px;
            height: 100vh;
            position: sticky;
            top: 0;
            overflow: hidden;
            list-style: none;
        }

        .content {
            flex: 1;
            background-color: white;
        }
    }

    .footer {
        position: sticky;
        bottom: 0;
    }
}