.login-page {
    background-color: white;
    border: 1px solid #aaaaaa;
    width: 100%;
    height: 100%;

    background: #cccccc;
    text-align: center;
    margin: 0px auto;
    vertical-align: middle;

    .input-username {
        background-color: white;
    }

    .input-password {
        background-color: white;
    }

    .btn-login {
        margin: 8px;
        padding: 5px;
        width: 100px;
        border-radius: 10px;
    }
}