.page-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .store {
        background-color: gray;
        width: 80%;
        margin-top: 20px;
    }
}