.page-crowd-data {
    display: flex;
    flex-direction: column;
    padding: 20px;

    height: 100%;

    .panel-horizontal {
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .crowd-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 24px;
        background: #fff;
        font-size: 1rem;

        th,
        td {
            border: 1px solid #ccc;
            padding: 8px 12px;
            text-align: center;
        }

        th {
            background-color: #007EA1;
            color: #fff;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f5f7fa;
        }

        tr:hover {
            background-color: #e0f0fa;
        }
    }
}