.store-tablet-layout {
    display: flex;
    flex-direction: column;
    height: 100dvh;

    .content {
        flex: 1;
    }

    .fotter {
        background-color: gray;
        visibility: hidden;
    }
}