.page-store {
    margin-bottom: 50px;

    img {
        width: 100%;
        max-height: 500px;
    }

    h1,
    h2,
    h3 {
        margin: 10px 0px 15px 0px;
        border-bottom: 1px solid gray;
    }

    .title {
        margin: 0;
        // border-bottom: thick double gray;        
    }

    .content {
        display: flex;
        flex-direction: column;

        padding: 0px 20px;
    }
}