.page-store-tablet-init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    h1,
    h2,
    h3 {
        margin: 0;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 40px;

        margin-top: 20px;

        button {
            height: 200px;
            width: 40%;
            font-size: 40px;
            border-radius: 5px;
        }
    }
}