.tablet-fotter {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    button {
        min-width: 120px;
        min-height: 50px;
    }

    .btn-back {
        align-self: flex-start;
    }

    .btn-confirm {
        align-self: flex-end;
    }
}