.user-layout {
    height: 100vh;
    display: flex;
    flex-flow: column;

    .flex-box {
        display: flex;
        flex: 1;

        .content {
            flex: 1;
            overflow-y: scroll;
        }
    }
}