.sidebar {
    $sidebar-background: lightblue;


    height: 100%;
    background-color: $sidebar-background;

    .sidebar-title {
        padding: 10px;
        font-size: 30px;
        font-weight: bold;

        // background-color: black;
    }

    .sidebar-item {
        padding: 10px;

        &:hover {
            background-color: white;
        }

        // &:hover {
        //     background-color: color.adjust($sidebar-background, -10%);
        // }
    }
}