.sidebar-item {
    padding: 10px;

    color: white;
    font-weight: bold;
    font-size: large;

    display: flex;
    align-items: center;

    svg {
        font-size: 2rem;
        margin-right: 10px;
    }

    // sidebarの色を取得するのが面倒なため、薄い黒をあてる
    &:hover {
        background-color: #00000028;
    }
}