.sidebar {
    height: 100%;
    background-color: #007EA1;

    .sidebar-title {
        color: white;
        padding: 10px;
        font-size: 30px;
        font-weight: bold;
    }

    // 幅が500px以下の場合は表示しない
    @media (max-width: 500px) {
        display: none;
    }
}