.footer-item {
    width: 70px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    &:hover {
        background-color: #0000002c;
    }

    .title {
        font-size: small;
    }
}