@use 'sass:color';

$border-radius: 10px;
$bg-color: white;

.store-card {
    background-color: $bg-color;
    text-align: start;
    border-radius: $border-radius;
    box-shadow: 0px 0px 10px 2px #00000044;

    &:hover {
        background-color: color.adjust($bg-color, $lightness: -10%);
    }

    &:active {
        background-color: color.adjust($bg-color, $lightness: -15%);
    }



    .flex-box {
        display: flex;

        .left {
            flex: 1.5;
            padding: 10px;

            .title {
                font-size: large;
            }

            .store-info {
                font-size: small;
            }
        }

        .right {
            flex: 1;
            position: relative;

            .store-image {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                height: 100%;
                width: 100%;

                box-sizing: border-box;
                border-radius: 0px $border-radius $border-radius 0px;

                background-color: rgba(144, 238, 144, 0.5);
                user-select: none;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 0px $border-radius $border-radius 0px;
                }

                svg {
                    height: 32px;
                    width: 32px;
                }
            }

            .favorite-icon {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 5px;

                border-radius: 50%;
                height: 32px;
                width: 32px;

                svg {
                    height: 32px;
                    width: 32px;
                }
            }

            .favorite-true {
                color: yellow;
            }

            .favorite-false {
                color: gray;
            }
        }
    }
}