.page-favorite-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    
    .main-content {
        width: 90%;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .search-input-area {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        margin-top: 10px;
        // background-color: gray;

        border: 2px solid gray;
        border-radius: 10px;
        position: relative;

        svg {
            position: absolute;
            height: 100%;
            width: 32px;
            color: gray;
            z-index: 0;
        }

        input {
            font-size: large;
            padding: 0px 0px 0px 32px;
            width: 100%;
            height: 100%;
            z-index: 1;

            border: none;
            background-color: transparent;
            color: black;
            outline: none;

            &::placeholder {
                color: gray;
                font-size: large;
            }
        }
    }

    .store-cards {
        width: 100%;

        .store-card {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}