.page-enter-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


    .flex-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;


        .flex-left {
            flex: 1;
            margin-bottom: 20px;
        }

        .flex-right {
            video{
                width: 100%;
                height: 100%;
            }
        }
    }
}